.input-group.mb-3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-primary.answer-submit{
    width: 100px
}

.feedback{
    font-size: 50px;
}

@media(max-width: 1000px){
    .feedback{
        font-size: 30px;
    }
}