.modalBackground{
    width: 100vw;
    height: 100vh;

    background-color: rgba(50,50,50,.5);
    position: absolute;
    justify-content: center;
}

.buttonSubmit{
    display: flex;
    justify-content: center;
}

.modalContent{
    text-align: center;
}

.modalHeaderCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}