.gameOver{
    position:relative;
    height: 100vh;
}


.gameOver-content{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;    
    top: 0;
    width: 100vw;
    height: 85vh; 
}

.gameOver-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

/* buttonstyles */

.btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-primary{
    margin: 10px;
}


@media(max-width: 740px){
    .btn-group{
        flex-wrap: wrap;
    }
    .btn-primary{
        margin: 10px !important;
    }
}


/* card styles */
.card{
    width: 30%;
    background-color: #32386D;
    border-color: white;
    border-width: 10px;
}

@media (max-width: 960px){
    .card{
        width: 100%;
        margin: 50px;
    }
}


