button{
    width: 100%;
}

.btn-group{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.card.gameroom-selections {
    /* Your styles here */
    border: 5px solid black;
    background-color: #32386D;
    font-size: 100%;
    width: 25%;
    flex-shrink: 0;
    display: flex;
    align-content: center;
    margin: 10px;
  }
  

@media (max-width: 960px) {
    /* CSS styles for screens smaller than 768px wide */
    .card.gameroom-selections{
        /* Your styles here */
        width: 100%;
        flex-shrink: 0;
        margin: 0;
        margin-top: 10px;
      }
  }
  
  @media (max-width: 576px) {
    /* CSS styles for screens smaller than 576px wide */
  }