.gameOver{
    position:relative;
    height: 100vh;
}


.gameOver-content{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;    
    top: 0;
    width: 100vw;
    height: 85vh; 
}

.gameOver-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh; 
}

.gameOver-block h1{
    font-size: 10.2vw;
}

/* card styles */
.card.gameover-panel{
    width: 30%;
    background-color: #32386D;
    border-color: white;
    border-width: 10px;
}

/* buttonstyles */

.btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-primary{
    margin: 10px;
}


@media(max-width: 740px){
    .btn-group{
        flex-wrap: wrap;
    }
    .btn-primary{
        margin: 10px ;
    }
}


@media (max-width: 960px){
    .card.gameover-panel{
        width: 100%;
        margin: 10px;
    }
}

@media(max-height: 600px){
    .card{
        height: 100%;
        margin-top: 100px;
    }
}


