.dropdown-menu .dropdown-item{
    width: 100%;
    font-size: 1.5em;
    text-align: left;
}

.navbar-collapse.collapse.show{
    background-color: #343a40;
}
.navbar-toggler{
    background-color: #343a40;

}
/* .navbar-toggler.collapsed{
    width: 100%;
} */


@media (max-width: 860px){
    .nav-item.show.dropdown{
        background-color: white;
    }
    
}
