div.profileEdit.card{
    width: 700px;
}


@media(max-width: 1900px){
    div.profileEdit.card{

        font-size: 30px;
    }
} 

@media(max-width: 1400px){
    div.profileEdit.card{
        font-size: 25px;
    }
} 

@media(max-width: 800px){
    div.profileEdit.card{
        font-size: 20px;
    }
} 

#shake{
    animation: shake 1s infinite;
}
@keyframes shake {
    0%  { transform: translate(2px, 1px); }
    10% { transform: translate(-1px, -2px); }
    20% { transform: translate(-3px, 0px)}
    30% { transform: translate(0px, 2px)}
    40% { transform: translate(1px, -1px)}
    50% { transform: translate(-1px, 2px)}
    60% { transform: translate(-3px, 1px)}
    70% { transform: translate(2px, 1px)}
    80% { transform: translate(-1px, -1px)}
    90% { transform: translate(2px, 2px)}
    100%{ transform: translate(1px, -2px)}
}

.profileEditModal{
    position: fixed;
    background-color:  rgba(50,50,50,.7);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color:black;
    overflow-y: scroll
};  


