.profileStatus{
    color: black;
}

.profileStatus img{
    border: 5px solid #555;
    height: 50%;
    width: 65%;
}

@media (max-width: 992px){
    .profileStatus{
        margin-bottom: 20px;
    }
}