/* waiting room card */
.card.waiting-panel{
    width: 35rem;
    font-size: 25px;
    color: black;
    border-radius: 10%;
    display: flex;
    justify-content: center;
}


.table.primary{
    color: black
}

button.btn.btn-primary{
    margin: 0;
    width: 100px;
}

.time{
    font-size: 50px;
}

@media(max-width: 800px){
    .time{
        font-size: 50px;
    }
}

@media (max-width: 640px) {
    .card.waiting-panel{
        width: 100%;
        margin: 0;
    }
}

@media (max-height: 600px){
    .waiting-panel-container{
        margin-top: 100px;
    }
}


