.App {
  text-align: center;
  font-family: 'Bangers', cursive;
  background-color:#32386D ;
  color:white;
  height: 100%;
  width: 100%;
  font-size: 100%;
  position: fixed;
}

div.card{
  border: 5px solid black;
}
